@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Concert+One&family=Itim&family=Poppins:wght@100&family=Roboto:wght@100&family=Sawarabi+Mincho&display=swap');
*{
    background-color:#0e2f2f;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Itim', cursive;;
}
.maindiv{
    text-align: center;
}
#head1{
    margin-top: 30px;
text-shadow: 2px 2px 1px rgb(91, 92, 95);
    color:orange ;
}
form{
    margin-top: 30px;
}
input{
    margin-left: 20px;
    background: gray;
    border-radius: 10px;
}
button{
    background-color: rgb(247,173,82);
    border-radius: 10px;
}
#sub{
    width: 100px;
    height: 30px;
}
#res{
    margin-left: 20px;
    width: 40px;
    height: 30px;
}
button:hover{
    background-color: rgb(83,83,82);
   
}
#ans{
    margin-top: 30px;
}
.footer i{
    margin-top: 50px;
    margin-left: 20px;
}